/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
		margin-bottom: 15px;
	 font-size: 18px;
}

/* Your code starts here! */
/* Global Style */
.wrapper {
	max-width: 80%;
	margin: 0 auto;
}

p {
	font-size: 18px;
}

/* Header style*/

header nav {
	display: inline-block;
	margin-top: 35px;

}

header nav a {
	text-decoration: none;
	margin: 0 20px;
	color: gray;
}

header .logo {
	margin-left: 180px;
}

/* Hero style*/

.hero {
	float: left;
}

.hero-img{
	float: right;
	width: 60%;
}

.hero h1 {
	font-size: 75px;
	margin: 60px 50px 0px;
}

.hero h1 span {
	margin-left: 50px;
}

.hero a {
	display: inline-block;
	text-decoration: none;
	border: 1px solid black;
	color: black;
	padding: 5px 60px;
	margin: 20px 95px;
}

.hero-img img {
	width: 60%;
	margin: 20px 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Main content style*/
.column-1{
  float: left;
  width: 50%;
}
.column-1 h2 {
	margin-top: 20px;
}
.column-1 p {
	margin-bottom: 20px;
}

.column-2 h2 {
	margin-top: 20px;
}

.column-2 p {
	margin: 10px 10px 10px 0;
}
.middle-img {
	width: 100%;
}
.column-2 {
  float: left;
  width: 33.333%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* footer */
.contact h2 {
	margin-top: 20px;
}
.Copyright {
	text-align: center;
}